/* Default setup */
@import "var";

body {
    margin: 0;
    font-family: $fontfamily;
    color: $fontcolor;
    background: #2c3e50;
}

/* End */

.box {
    transition: 2s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid white;
    border-radius: 15px;
    min-height: 400px;
    box-shadow: 0px 10px 60px #e67e22;

    h1 {
        text-align: center;
        padding: 10px;
    }

    button {
        transition: 1s;
        border-color: transparent;
        border-radius: 10px;
        background-image: linear-gradient(to left, #d35400, #e67e22, #d35400);
        font-weight: 400;
        font-size: 15.5px;
        color: white;
        display: grid;
        margin: 20px;
        width: 400px;
        padding: 10px;
        cursor: pointer;
        background-size: 200%;
    }

    button:hover {
        background-size: 1%;
    }
}

.box:hover {
    box-shadow: 0px 15px 80px #e67e22;
}